<div class="mb-3">
    <input type="text" class="form-control" placeholder="Filter by name or sex" [(ngModel)]="filterText" (input)="filter()">
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th class="clickable" (click)="sort('familyName')">Family Name</th>
        <th class="clickable" (click)="sort('givenName')">Given Name</th>
        <th class="clickable" (click)="sort('sex')">Sex</th>
        <th class="clickable" (click)="sort('birthDate')">Birth Date</th>
        <th>Parameters</th>
        <th>Alarm</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let patient of filteredPatients" (click)="openDetail(patient)" class="clickable">
        <td>{{patient.familyName}}</td>
        <td>{{patient.givenName}}</td>
        <td>{{patient.sex}}</td>
        <td>{{patient.birthDate | date:'mediumDate'}}</td>
        <td>{{patient.parameters?.length || 0}}</td>
        <td>
            <span *ngIf="hasAlarm(patient)" class="badge bg-danger">ALARM</span>
        </td>
    </tr>
    </tbody>
</table>

<app-patient-detail
        *ngIf="selectedPatient"
        [patient]="selectedPatient"
        (close)="onDialogClose($event)">
</app-patient-detail>
