<div class="modal fade show d-block" tabindex="-1" style="background:rgba(0,0,0,0.5);">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Patient Detail</h5>
                <button type="button" class="btn-close" (click)="dismiss()"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label>Family Name</label>
                        <input type="text" class="form-control" [(ngModel)]="patient.familyName" name="familyName">
                    </div>
                    <div class="mb-3">
                        <label>Given Name</label>
                        <input type="text" class="form-control" [(ngModel)]="patient.givenName" name="givenName">
                    </div>
                    <div class="mb-3">
                        <label>Sex</label>
                        <input type="text" class="form-control" [(ngModel)]="patient.sex" name="sex">
                    </div>
                    <div class="mb-3">
                        <label>Birth Date</label>
                        <input type="text" class="form-control" [value]="patient.birthDate | date:'mediumDate'" disabled>
                    </div>
                </form>

                <h6>Parameters</h6>
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                        <th>Alarm</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let param of patient.parameters">
                        <td>{{param.name}}</td>
                        <td>{{param.value}}</td>
                        <td>
                            <span *ngIf="param.alarm" class="badge bg-danger">ALARM</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" (click)="dismiss()">Close</button>
                <button class="btn btn-primary" (click)="save()" [disabled]="saving">Save</button>
            </div>
        </div>
    </div>
</div>
